
@{
    ViewBag.Title = "Index";
}

<h2>Highlighting the faces in uploaded image in ASP.NET web applications</h2>
<br />
<form method="post" enctype="multipart/form-data" id="form">
    <input type="file" name="image" id="image" onchange="this.form.submit()" />
</form>

